button {
    padding: 0 10px;
    background: transparent;
    border: none;
    outline: none;
    color: var(--font-color);
    transition: all var(--time);
    cursor: pointer;

    &:hover {
        transform: scale(1.05);
    }

    &:active {
        transform: scale(1);
    }
}
