:root {
    --bg-color: #0e1116;
    --container-color: #22262c;
    --font-color: #f3f3f3;
    --secondary-font-color: #f3f3f393;
    --box-shadow: #dddfe845 0px 0px 0.25em, #5a7dbc0d 0px 0.25em 1em;
    --hover-color: #959595;
    --i-bg-color: #d5d5d5;
}
