.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

canvas {
    background: #fff;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
}

.chat {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    left: 1390px;
    background: var(--container-color);
    border-radius: var(--border-radius);
}

.containerChat {
    height: 100%;
}
